
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="main-template">
<head>
<meta charset="UTF-8">
<title>Client Enregistré</title>
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
<link th:href="@{/css/main.css}" rel="stylesheet">
</head>
<body>
	<section layout:fragment="mainContent">
		<div class="center card text-white bg-success mb-3"
			style="max-width: 18rem;">
			<div class="card-header">Client enregistré</div>
			<div class="card-body white-background black-font-color">

				<p class="card-text" th:text="'Id : ' + ${client.id}"></p>
				<p class="card-text" th:text="'Nom : ' + ${client.fname}"></p>
				<p class="card-text" th:text="'Prénom : ' + ${client.lname}"></p>
				<p class="card-text"
					th:text="'Date de naissance : ' + ${client.dob}"></p>
				<p class="card-text" th:text="'Ancien : ' + ${client.oldVisitor}"></p>
				
				<!-- A Verifier -->
				<p class="card-text" th:text="'Simulation : ' + ${client.simulation}"></p>
				<a th:href="@{/admin/}" class="btn btn-success btn-sm">Liste
					des clients</a>
			</div>
		</div>
		</section>
</body>
</html>